.vscode/

cache-model/*~
cache-model/*.gch
cache-model/*.o
cache-model/attack/*.o
cache-model/cache/*.o
cache-model/util/*.o
cache-model/*.a
cache-model/*.so
cache-model/*.ps
cache-model/*.pdf

cache-model/octave-workspace

cache-model/report/*

cachefx/*.o
cachefx/*.pdf

cachefx/results/*

low-occupancy/results/*
low-occupancy/randomized_caches/*

*.pdf